body{
    display: grid;
    grid-template-areas:
    "haus haus haus haus haus"
    "valmynd valmynd valmynd valmynd valmynd"
    "vinstri midja midja midja haegri "
    "fotur fotur fotur fotur fotur"; 

}
.header{
    grid-area: haus;
    border: 5px solid black;
    background: rgba(251, 255, 0, 0.377);
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-area: valmynd;
    border: 4px solid black;
    background: rgba(251, 255, 0, 0.377);
}
.left{
    grid-area: vinstri;
    border: 3px solid black;
    background: rgba(251, 255, 0, 0.377);
}
.main{
    grid-area: midja;
    border: 3px solid black;
    background: rgba(251, 255, 0, 0.377);
}
.right{
    grid-area: haegri;
    border: 3px solid black;
    background: rgba(251, 255, 0, 0.377);
}
.footer{
    grid-area: fotur;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background: rgba(251, 255, 0, 0.377);
}
.center{
    text-align: center;
}
.center_2{
    border: 3px solid black;
    align-items: center;
}
.audio{
    display: none;
}