body{
    display: grid;
    grid-template-areas:
    "haus haus haus haus haus"
    "bar bar bar bar bar"
    "vinstri vinstri vinstri haegri haegri"
    "midja midja midja midja midja"
    "fotur fotur fotur fotur fotur"; 
    
    background: linear-gradient(rgb(0, 0, 128),rgb(0, 0, 139),rgb(0,0,255));
    
}
.header{
    grid-area: haus;
    border: dotted gold;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 1000px;
    padding-right: 1000px;
    border: solid 3px black;
}
.image{
    margin-left: 100px;
    margin-right: 100px;
}
.navbar{
    display: grid;
    grid-area: bar;
    grid-template-columns: 1fr 1fr 1fr;
}
a:link, a:visited{
    background: gold;
    border: solid yellow;
    text-align: center;
    padding: 10px 10px;
}
a:hover, a:active{
    background: yellow;
}
.left{
    grid-area: vinstri;
    text-align: center;
    background: linear-gradient(rgb(252,252,252),rgb(240,240,240));
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.right{
        grid-area: haegri;
        background: linear-gradient(rgb(252,252,252),rgb(240,240,240));
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 100px;
}
.main{
    grid-area: midja;
    background: linear-gradient(rgb(240,240,240),rgb(220,220,220));
    text-align: center;
}
.footer{
    grid-area: fotur;
    border: 3px solid gold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
.H1{
    color: gold;
}
.text_template{
    background: linear-gradient(rgb(236, 236, 236),rgb(241,241,241));
    font-size: 20px;
}
a:link, a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
                    
a:hover, a:active {
    background-color: lightgreen;
}
@media screen and (min-width: 640px)
{
    .rwd{
        display: grid;
        grid-template-areas:
        "haus haus"
        "bar bar"
        "vinstri vinstri"
        "haegri haegri"
        "midja midja"
        "fotur fotur"; 
    }
}

@media screen and (min-width: 1000px)
{
    .rwd{
        display: grid;
        grid-template-areas:
        "haus haus haus"
        "bar bar bar"
        "vinstri vinstri haegri haegri"
        "midja midja midja"
        "fotur fotur fotur"; 
    }
}

@media screen and (min-width: 1400px)
{
    .rwd{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 75%
    }

}
